.Hola {
  background-color: transparent;
  font-family: 'Roboto','Verdana';
}

.Hola-none {
  display: none;
}
.Hola .Gif {
  z-index: 1;
  position: absolute;
  box-shadow:black;
}
.Mensaje{
  background-color: aliceblue;
  max-width: 200px;
  max-height: 400px;
  border-radius: 20px 20px;
}

.Mensaje span {
    padding:2px;
    text-transform:uppercase;
    text-justify: distribute;
    font-size: 10px;
    color: rgb(58, 9, 63);
  }

.Mensaje p {
  vertical-align: top;
  text-align: center;
  text-justify: auto;
  font-size: 15px;
  text-shadow: 2px 2px 4px tomato;
  color: blue;
}
